:root {
    --blue-background-color: #2e354f; 
    --orange-text-color: #ef5839;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: var(--blue-background-color);
    margin: 0;
}

img {
    width: 100%;
    object-fit: cover;
}

/*Typography*/
h2, a {
    color: var(--orange-text-color);
}

h1, h2 {
    margin-top: 0;
}

a:focus,
a:hover {
    color: rgb(227, 181, 64);
}

/*Layout*/
.container {
    width: 90%;
    margin: 0 auto;
    padding: 45px; 
}

.section-one {
    background-color: #fff;
    color: var(--blue-background-color);
}

.section-one-info {
    margin-bottom: 0;
}

/*Buttons*/
.btn {
    display: inline-block;
    padding: 1em 1.5em;
}

.btn-orange {
    background-color: var(--orange-text-color);
    color: var(--blue-background-color);
}

.btn-orange:focus, .btn-orange:hover {
    background-color: #fff;
    color: var(--blue-background-color);
}

.btn-white {
    background: #fff;
    color: #2e354f;
}

.btn-white:focus, .btn-white:hover {
    background-color: var(--orange-text-color);
    color: var(--blue-background-color);
}